.workspace {
  position: absolute;
  top: 120px;
  bottom: 20px;
  left: 0px;
  right: 0px;
}

.hidden {
  position: absolute; 
  left: -9999px
}

.page-header {
  margin: 70px 0 32px 78px  !important;
}

.navbar-nav > li > a.active {
  color: #fff;
  cursor: default;
}

.form-group > label > span {
  color: red;
}