
.hidden {
  position: absolute; 
  left: -9999px
}

.page-header {
  margin: 70px 100px 32px 115px  !important;
}

.navbar > .container-fluid {
  margin-left: 100px;
  margin-right: 100px;
}
.navbar-nav > li > a.active {
  color: #fff;
  cursor: default;
}

.form-group > label > span {
  color: red;
}

.textarea {
  width: 600px;
  height: 400px;
}

.workspace-btn {
  margin-left: 15px;
}